services:

  homebridge:
    image: homebridge/homebridge:latest
    container_name: homebridge
    environment:
      - MQTTTHING_URL=${MQTTTHING_URL}
      - MQTTTHING_USERNAME=${MQTTTHING_USERNAME}
      - MQTTTHING_PASSWORD=${MQTTTHING_PASSWORD}
      - ENABLE_AVAHI=0
    security_opt:
      - apparmor=unconfined
    volumes:
      - ${PWD}/volumes/homebridge:/homebridge
      - /var/run/dbus:/var/run/dbus
      - /var/run/avahi-daemon/socket:/var/run/avahi-daemon/socket
    network_mode: host
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '1'
    healthcheck:
      test: curl --fail localhost:8581 || exit 1
      interval: 60s
      retries: 5
      start_period: 300s
      timeout: 2s
    restart: unless-stopped

  ts-homebridge:
    profiles: ["disabled"] # temporary disable
    image: tailscale/tailscale
    container_name: ts-homebridge
    hostname: ${TS_HOSTNAME}
    environment:
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_AUTH_KEY=${TS_AUTH_KEY}
      - TS_EXTRA_ARGS=${TS_EXTRA_ARGS}
    volumes:
      - /dev/net/tun:/dev/net/tun
      - ${PWD}/volumes/ts-homebridge/lib:/var/lib
      # tailscaled.sock shared with caddy
      - ${PWD}/volumes/ts-homebridge/run:/tmp
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

  caddy-homebridge:
    profiles: ["disabled"] # temporary disable
    image: caddy:latest
    container_name: caddy-homebridge
    depends_on:
      - ts-homebridge
    environment:
      - CADDY_CERT_DOMAIN=${CADDY_CERT_DOMAIN}
      - CADDY_UPSTREAM=${CADDY_UPSTREAM}
    volumes:
      - ${PWD}/config/caddy-homebridge/Caddyfile:/etc/caddy/Caddyfile
      - ${PWD}/volumes/caddy-homebridge/data:/data
      - ${PWD}/volumes/caddy-homebridge/config:/config
      # tailscaled.sock shared with caddy
      - ${PWD}/volumes/ts-homebridge/run:/var/run/tailscale
    network_mode: service:ts-homebridge
    restart: unless-stopped

